<h3>Edit you Liber account information below</h3>
<br>
<form action="/owners/<%= current_user.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="username">Username: </label>
    <input type="text" name="owner[username]" placeholder="Username" value="<%=current_user.username%>">
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="text" name="owner[password]" placeholder="Password" value="<%=current_user.password%>">
    <br>
    <br>
    <label for="name">Name: </label>
    <input type="text" name="owner[name]" placeholder="Name" value="<%=current_user.name%>">
    <br>
    <br>
    <label for="location">Location: </label>
    <input type="text" name="owner[location]" placeholder="Location" value="<%=current_user.location%>">
    <br>
    <br>
    <input type="submit" value="Edit Account">
</form> 
<br>
<form action="/logout">
    <input type="submit" value="Log Out" name="logout">
</form>
<br>
 <form action="/owners/<%= current_user.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Your Account">
  </form>
<br>
<a href="/owners/<%=current_user.id%>">Back to My Account</a>
