<h1>Liber Owner Database</h1>
<h3>A listing of all Liber members and their current books for trade</h3>
<br>
<% Owner.all.sort.each.with_index(1) do |o, i| %>
    <ul>
    <h4><%= i %>. <a href="/owners/<%= o.id %>"><%= o.name %></a> (<%= o.username %>) - <%= o.location %></h4>
    <br>
    <li>Books for Trade:</li>
        <br>
        <% o.books.each.with_index(1) do |b, i| %>
        <ul>
        <li> <%= i %>. <a href="/books/<%= b.id %>"><%= b.title %></a> by <%= b.author %>
        </ul>
        <br>
        <% end %>
    <br>
    <br>
    </ul>
<% end %>
<form action="/books">
    <input type="submit" value="View All Available Books" name="view_all">
</form>
<br>
<% if logged_in? %>

    <form action="/logout">
        <input type="submit" value="Log Out" name="logout">
    </form>
    <br>
    <a href="/owners/<%=current_user.id%>">Back to My Account</a>

<% end %>
