<h2><%= current_user.name %> (<%= current_user.username %>), welcome to Liber.</h2>

<h3>Your current location: <%= current_user.location  %> </h3>
<br>
<form action="/books/new" method="GET">
    <input type="submit" value="New Book" name="new_book">
</form>
<br>
<h3>Current books in your library:</h3>
<br>
<% current_user.books.each do |b| %>
    <ul>
    <h4><a href="/books/<%= b.id %>"><%= b.title %></a> by  <%= b.author %></h4>
    <br>
    <li>Genre: <%= b.genre %></li>
    <li>Publishing Date: <%= b.year %></li>
    <li>Condtion: <%= b.condition %></li>
    <li>Type: <%= b.book_type %></li>
    <br>
    <br>
    </ul>
<% end %>

<form action="/logout">
    <input type="submit" value="Log Out" name="logout">
</form>
<br>

<form action="/owners/<%= current_user.id %>/edit" method="GET">
    <input type="submit" value="Edit Your Account" name="account_edit">
</form>
<br>
<br>

<a href="/">Home</a>