<h1>Liber Book Database</h1>
<h3>A listing of all the books currently available to trade</h3>
<br>
<% Book.all.sort.each.with_index(1) do |b, i| %>
    <ul>
    <h4><%=i%>. <a href="/books/<%=b.id%>"><%= b.title %></a> by <%= b.author %></h4>
    <br>
    <li>Genre: <%= b.genre %></li>
    <li>Publishing Date: <%= b.year %></li>
    <li>Condtion: <%= b.condition %></li>
    <li>Type: <%= b.book_type %></li>
    <li>Current Owner: <%= b.owner.name %> (<%= b.owner.username %>)
    <br>
    <br>
    </ul>
<% end %>
<br>
<a href="/owners/<%=current_user.id%>">Back to My Account</a>
