<h4><%= @book.title %> by  <%= @book.author %></h4>
    <br>
    <p>Genre: <%= @book.genre %></p>
    <p>Publishing Date: <%= @book.year %></p>
    <p>Condtion: <%= @book.condition %></p>
    <p>Type: <%= @book.book_type %></p>
    <p>Current Owner: <%= @book.owner.name %> (<%= @book.owner.username %>)</p>
    <p>Synopsis: <%= @book.synopsis %>
<% if logged_in? && current_user.id == @book.owner.id %>
  <form action="/books/<%= @book.id %>/edit" method="GET">
    <input type="submit" value="Edit Book" name="book_edit">
  </form>
<br>
  <form action="/books/<%= @book.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Book">
  </form>
<% end %>  
<br>
<form action="/owners">
    <input type="submit" value="View All Available Owners" name="view_all">
</form>
<br>
<% if logged_in? %>
    <form action="/logout">
        <input type="submit" value="Log Out" name="logout">
    </form>
  <br>
    <a href="/owners/<%=current_user.id%>">Back to My Account</a>
<% end %>